@use "../../../styles/mixins";

.app-page {
  display: flex;
  flex-direction: column;
  padding: 0;

  .views-wrapper {
    flex: 1;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    position: relative;
  }
}

.app-filters {
  display: flex;
  gap: 5px;
  padding: 10px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  @include mixins.respond-to(xs-sm) {
    display: block;
  }

  .app-filter {}

  &__submit {
    margin-left: 10px;

    @include mixins.respond-to(xs-sm) {
      text-align: right;
    }
  }
}

.k-panelbar {
  border: 0;
}
