@use "../../../../styles/mixins";

.navbar {
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: var(--kendo-color-primary);
  color: white;

  --kendo-color-on-app-surface: white;
  --kendo-color-subtle: var(--kendo-color-on-primary);

  &-brand {
    margin: 0 10px;
  }

  kendo-menu {
    flex: 1;

    .k-item {

      &.desktop-visible {
        @include mixins.respond-to(xs-sm) {
          display: none;
        }
      }

      &.mobile-visible {

        @include mixins.respond-to(xs-sm) {
          display: none;
        }

        .k-menu-expand-arrow {
          display: none;
        }
      }

      &.menu-options {
        margin-left: auto;
      }
    }
  }
}
