@use "../../../styles/mixins";

.user-settings-view {
  height: 100%;

  .k-form-inline {
    box-sizing: border-box;
    width: 350px;

    @include mixins.respond-to(xs-sm) {
      width: 100%;
    }
  }

  .k-dropdown,
  .k-maskedtextbox,
  .k-textbox {
    width: 100%;
  }
}
