<div class="user-settings-view k-content">
  <form class="k-form-inline" novalidate [formGroup]="form"
        (ngSubmit)="onSubmit(form.value, form.valid)">
    <button type="submit" class="k-button k-primary" [disabled]="!form.valid">SUBMIT</button>

    <fieldset>
      <legend>User Settings</legend>

      <label class="k-form-field">
        <span>Username <span class="required-validation">*</span></span>
        <input class="k-textbox"
               id="Username"
               name="Username"
               formControlName="Username"/>
      </label>

      @if (form.controls['Username'].hasError('required') && form.controls['Username'].touched) {
        <div
          class="k-tooltip-validation k-invalid-msg text-center">Username is required
        </div>
      }

      <label [for]="firstName" class="k-form-field">
        <span>First Name <span class="required-validation">*</span></span>
        <input class="k-textbox"
               #firstName
               id="FirstName"
               name="FirstName"
               formControlName="FirstName"/>
      </label>

      @if (form.controls['FirstName'].hasError('required') && form.controls['FirstName'].touched) {
        <div
          class="k-tooltip-validation k-invalid-msg text-center">First Name is required
        </div>
      }

      <label [for]="lastName" class="k-form-field">
        <span>Last Name <span class="required-validation">*</span></span>
        <input class="k-textbox"
               #lastName
               id="LastName"
               name="LastName"
               formControlName="LastName"/>
      </label>

      <label [for]="phone" class="k-form-field">
        <span>Phone Number</span>
        <kendo-maskedtextbox mask="+00000000000"
                             #phone
                             id="PhoneNumber"
                             name="PhoneNumber"
                             formControlName="PhoneNumber"></kendo-maskedtextbox>
      </label>

      <label class="k-form-field">
        <span>Custom Field</span>
        <input class="k-textbox"
               id="CustomField"
               name="CustomField"
               formControlName="CustomField"/>
      </label>

      @if (form.controls['LastName'].hasError('required') && form.controls['LastName'].touched) {
        <div
          class="k-tooltip-validation k-invalid-msg text-center">Last Name is required
        </div>
      }

      <div>
        <label class="k-form-field">
          <span>Password <span class="required-validation">*</span></span>
          <input class="k-textbox"
                 type="password"
                 id="Password"
                 name="Password"
                 formControlName="Password"/>
        </label>

        @if (form.controls['CurrentPassword'].hasError('required') && form.controls['Password'].touched) {
          <div
            class="k-tooltip-validation k-invalid-msg text-center">Current Password is required.
          </div>
        }
      </div>
    </fieldset>

    @if (inProgress) {
      <div class="app-progress"><span class="k-i-loading k-icon"></span></div>
    }
    <div class="error-summary" [hidden]="!error">{{error}}</div>
  </form>
</div>
