<div class="app-page k-form-inline">
  <kendo-panelbar>
    <kendo-panelbar-item [title]="'FILTERS'" [expanded]="true">
      <ng-template kendoPanelBarContent>
        <div class="app-filters">
          @for (filter of filters; track filter) {
            <div class="app-filter">
              <app-filter [filter]="filter"></app-filter>
            </div>
          }

          <div class="app-filters__submit">
            <button type="button"
                    kendoButton
                    themeColor="primary"
                    (click)="onFiltersSubmitClick()">APPLY
            </button>
          </div>
        </div>
      </ng-template>
    </kendo-panelbar-item>
  </kendo-panelbar>

  <div class="views-wrapper">
    @for (url of views; track url) {
      <div class="iframe-wrapper">
        <iframe [src]='url' height="600" width="100%"></iframe>
      </div>
    }
  </div>
</div>
