<div class="login-page app-page">
  <div class="login-page__content">
    <img class="login-page__content-logo" alt="Logo" src="/assets/images/logo-white.png" width="150"/>

    <form (ngSubmit)="onSubmitForm($event)"
          [formGroup]="loginForm"
          class="k-form k-form-sm" novalidate>
      @if (isInProgress) {
        <app-progress></app-progress>
      }

      <kendo-formfield>
        <kendo-label labelCssClass="k-required" text="Username" />
        <kendo-textbox [maxlength]="100" formControlName="login"/>

        <kendo-formerror>Username is required.</kendo-formerror>
      </kendo-formfield>

      <kendo-formfield>
        <kendo-label labelCssClass="k-required" text="Password" />
        <kendo-textbox [maxlength]="100" formControlName="password" type="password"/>
        <kendo-formerror>Password is required.</kendo-formerror>
      </kendo-formfield>

      <div [hidden]="!error" [innerText]="error" class="summary-error"></div>

      <div class="login-page__content-footer">
        <div class="login-page__content-footer-eula">
          By clicking Log in, you agree to our
          <a href="https://rockdaisy.com/license-agreement/" target="_blank">EULA</a>,
          <a href="https://rockdaisy.com/privacy-policy/" target="_blank">Privacy</a> and
          <a href="https://rockdaisy.com/cookie-policy/" target="_blank">Cookies Policy</a>.
        </div>

        <button kendoButton themeColor="tertiary" type="submit">LOG IN</button>
      </div>
    </form>
  </div>
</div>
