$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

// Silver
$app-bg-dark:      white !default;
$app-bg:           #e7ecef !default;
$app-bg-light:       white !default;
$app-color:          $gray !default;
$app-inverse-color:#fff !default;

// Dark
//$app-bg-dark:      #293B48 !default;
//$app-bg:           #354C5C !default;
//$app-bg-light:     #60737d !default;
//$app-color:        #f7f7f9 !default;
//$app-inverse-color:#f7f7f9 !default;
