@use "colors";
@use "utilities";
@use "normalize.css/normalize.css";
@use "kendo-theme";

html, body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  background-color: white;
  color: colors.$secondaryFontColor;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, .2);
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, .2);
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: rgba(255, 255, 255, .2);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

