$accent: #00aeef;
$series-a: #00aeef;
$base-bg: black;
$bg-color: #27272e;
$text-color: white;
$base-text: white;
$hovered-text: white;
$border-color: rgba(255, 255, 255, 0.2);
$base-border: rgba(255, 255, 255, 0.2);
$hovered-bg: #43434f;
$hovered-border: rgba(255, 255, 255, 0.4);

body .k-multiselect-wrap {
    padding-right: 0;

    .k-clear-value {
        display: none!important;
    }

    li.k-button {
        float: none;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
}

.k-notification-group {
  text-transform: uppercase;
}
