$accent: #00aeef;
$series-a: #00aeef;

//https://www.telerik.com/kendo-angular-ui/components/styling/theme-default/customization/
body .k-multiselect-wrap {
    padding-right: 0;

    .k-clear-value {
        display: none!important;
    }

    li.k-button {
        float: none;
        display: flex;
        justify-content: flex-start;
        text-align: left;
    }
}
