$xs: 767px;
$sm: 991px;
$md: 1199px;

@mixin respond-to($media) {
  @if $media == xs {
    @media only screen and (max-width: $xs),
    only screen and (-webkit-min-device-pixel-ratio: 2.625),
    only screen and (min--moz-device-pixel-ratio: 2.625),
    only screen and (-o-min-device-pixel-ratio: 2.625/1),
    only screen and (min-device-pixel-ratio: 2.625) {
      @content();
    }
  } @else if $media == sm {
    @media only screen and (min-width: 768px) and (max-width: $sm) {
      @content();
    }
  } @else if $media == md {
    @media only screen and (min-width: 992px) and (max-width: $md) {
      @content();
    }
  } @else if $media == lg {
    @media only screen and (min-width: 1200px) {
      @content();
    }
  } @else if $media == slg {
    @media only screen and (min-width: 1600px) {
      @content();
    }
  } @else if $media == sm-md {
    @media only screen and (min-width: 768px) and (max-width: $md) {
      @content();
    }
  } @else if $media == xs-sm {
    @media only screen and (max-width: $sm) {
      @content();
    }
  } @else if $media == xs-md {
    @media only screen and (max-width: $md) {
      @content();
    }
  } @else if $media == touch {
    @media(pointer: coarse) {
      @content();
    }
  }
}
