@use "colors";

.summary-error {
  color: colors.$errorColor;
  text-align: center;
  overflow-wrap: break-word;
}

.app-progress {
  position: absolute;
  opacity: 0.85;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$primaryColor;

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

    .company-logo {
      max-width: 100%;
    }

    .spinner-container {
      min-height: 25px;
      position: relative;
    }
  }
}

iframe {
  display: block;
  border: 0;
}

p {
  margin: 0 0 10px;
  line-height: normal;
}

h5 {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: normal;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all .3s ease-in-out;
  color: colors.$primaryFontColor;

  &:focus,
  &:visited {
    text-decoration: none;
  }

  &:hover {
    opacity: 0.75;
  }

  &.k-link {
    color: var(--kendo-color-primary);
  }
}

.hidden,
[hidden] {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-muted {
  color: grey;
}

.justify-center {
  justify-content: center;
}

.k-required:after {
  content: '*';
  margin-left: 3px;
  align-self: flex-end;
  color: colors.$errorColor;
}

.no-input-form-control {
  display: flex;
  margin-top: var(--kendo-spacing-2\.5, 0.625rem);
  align-items: center;

  &__label {
    margin-right: var(--kendo-spacing-2\.5, 0.625rem);
    flex: 0 0 35%;
    text-align: end;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
  }

  &__value {
    flex: 1 1 1px;
    font-weight: bold;
    min-width: 1px;
  }
}


