app-root,
app-layout,
app-login {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

app-header {
  flex: 0 0 50px;
}

.app-page {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  gap: var(--kendo-spacing-2);
  padding: var(--kendo-spacing-2);
  max-width: 100%;
}

.main-container {
  flex: 1 1 1px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  will-change: scroll-position;
  overflow: auto;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
  background-color: var(--kendo-color-surface, #fafafa);

  router-outlet {
    display: none;

    & + * {
      flex: 1 1 1px;
      display: flex;
    }
  }
}
