@use "../../../../styles/mixins";

.filter-wrapper {
  .k-form-field {
    margin-bottom: 0;
    margin-right: 10px;
    display: inline-flex;
    width: 250px;

    @include mixins.respond-to(xs-sm) {
      margin-bottom: 10px!important;
    }

    .k-widget {
      width: 100%;
    }
  }
}
