<div class="filter-wrapper">
  @switch (filter.Type) {
    @case (0) {
      <kendo-daterange class="k-form-field">
        <kendo-label [for]="filterStart" text="Start"/>
        <kendo-dateinput #filterStart kendoDateRangeStartInput [(ngModel)]="filter.Value.start"></kendo-dateinput>

        <kendo-label [for]="filterEnd" text="End"/>
        <kendo-dateinput #filterEnd kendoDateRangeStartInput [(ngModel)]="filter.Value.end"></kendo-dateinput>
      </kendo-daterange>
    }
    @case (1) {
      <kendo-formfield>
        <kendo-label [for]="multiSelect" [text]="filter.Label"/>
        <kendo-multiselect [data]="filter.Options.data"
                           #multiSelect
                           [placeholder]="filter.Options.defaultValue"
                           [filterable]="true"
                           (filterChange)="onDropDownFilterChange($event)"
                           [valuePrimitive]="true"
                           [textField]="filter.Options.textField"
                           [valueField]="filter.Options.valueField"
                           [(ngModel)]="filter.Value"></kendo-multiselect>
      </kendo-formfield>
    }
    @case (2) {
      <kendo-formfield>
        <kendo-label [for]="dropDown" [text]="filter.Label"/>
        <kendo-dropdownlist [data]="filter.Options.data"
                            #dropDown
                            [defaultItem]="filter.Options.defaultValue"
                            [filterable]="true"
                            (filterChange)="onDropDownFilterChange($event)"
                            [textField]="filter.Options.textField"
                            [valueField]="filter.Options.valueField"
                            [valuePrimitive]="true"
                            [(ngModel)]="filter.Value"></kendo-dropdownlist>
      </kendo-formfield>
    }
  }
</div>
