app-home,
app-dashboard1-page {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex: 1;
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  position: relative;
  display: flex;
  flex-direction: column;
}
